package app

templ Layout(body templ.Component) {
  <html>
    <head>
      <title>Hummingbird</title>
      <script src="/assets/main.js" defer></script>
      <link href="/assets/main.css" rel="stylesheet" />
    </head>
    <body class="font-sans text-gray-900">
      <nav class="p-4 bg-blue-100">
        <a href="/" class="mr-4" data-swap="#main">Home</a>
      </nav>
      <main id="main" class="p-4">
        @body
      </main>
    </body>
  </html>
}
