package pages

templ About() {
  <div>
    <h1 class="text-3xl font-bold">Welcome to Hummingbird 🐦</h1>
    <p> About app </p>
    <div class="flex">
      <a href="/">root</a>
      <a href="/home">home</a>
      <a href="/about">about</a>
    </div>
    <div data-component="Counter" data-props='{"start": 5}'>loading...</div>
  </div>
}

