package pages

templ Home() {
  <div>
    <h1 class="text-3xl font-bold">Welcome to Hummingbird 🐦</h1>
    <p> Home app </p>
    <div data-component="Counter" data-props='{"start": 5}'>loading...</div>
  </div>
}
