package pages

templ Index() {
  <div>
    <h1 class="text-3xl font-bold">Welcome to Hummingbird 🐦</h1>
    <p>This is your starting point. Edit <code>app/pages/index.templ</code> to get going!</p>
    <div data-component="Counter" data-props='{"start": 5}'></div>
  </div>
}
